/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-size: 100%;
}

h1 {
    font-size: 3rem;
    color: #6d00fb;
    border-radius: 1.5rem;
    background-image: linear-gradient(#74c9f1,rgb(235, 75, 75));
    text-align: center;
    text-shadow: 7px 2px 10px yellow;
    text-decoration: underline;
}

p {
    font-family: Copperplate;
}

#row1-section2 p{
    background-color: #74c9f1;
    border: 2px solid #fb4040;
}

#row2-section2 p {
    background-color: red;
    border: 2px solid green
}

#row2-section2 p, #row1-section2 p{
    color: white;
    width: 70%;
    font-size: 1.5rem;
    border-radius: .5rem;
}

a {
    color: white;
    text-decoration: none;
}

#jordans-1 {
    height: 400px;
    width: 600px;
    box-shadow: 5px 1px 5px blue;
}

#jordans-2 {
    height: 400px;
    width: 600px;
    box-shadow: -5px 1px 5px red;
}